<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sang Lin - Projects</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="../main.css">

</head>
<body>
<div class="header">
    <div class="container">
        <a href="../index.html" style="text-decoration: none;color: rgba(0, 0, 0, 0.80);float: left">
            <strong style="font-size: 30px">Sang&nbsp;&nbsp;Lin</strong>&nbsp;&nbsp;&nbsp;♨Software Engineer</a>
        <ul class="menu">
            <li><a href="resume-sang.html">Resume</a></li>
            <li><a href="projects-sang.html">Projects</a></li>
            <li><a href="#">Life</a></li>
        </ul>
    </div>
</div>



    <div class="slider">

        <div class="slide active-slide">
            <div class="container">
                <div class="row">
                    <div class="project-description col-xs-5">
                        <h1>Android Application</h1>
                        <h2>Rutgers Parking Helper</h2>
                        <p>​Find out the nearest parking lot to you destination without getting any tickets.<br>
                        Our App provides all the lots information to all kinds of parking permits.</p>
                        <a href="https://github.com/linsang90/Android_APP_Projects/tree/master/ParkingHelper" target="_blank">See codes on Github.</a>
                    </div>
                    <div class="slide-img  col-xs-7">
                        <img src="../img/Android3.png" height="420">
                        <img src="../img/Android2.png" height="420">
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="project-description col-xs-4">
                        <h1>Python Game</h1>
                        <h2>Ping-Pong</h2>
                        <p>Mini game for 2 people(or left hand vs right hand). ​</p>
                        <a href="http://www.codeskulptor.org/#user40_DNyrlVsYaV_2.py" target="_blank">Play it.</a>
                    </div>
                    <div class="slide-img col-xs-8">
                        <img src="../img/Python.png" height="420">
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="project-description col-xs-4">
                        <h1>Cocos2d-x Game</h1>
                        <h2>Ball Matching</h2>
                        <p>Easily understand 3-ball-matching game.
                        More features, such as flash, bomb, chains effects are supported.<br>
                        Developed by cocos2d-x_2.0 game engine.</p>
                        <!--<a href="#">Play it.</a><br>-->
                        <a href="https://github.com/linsang90/Ball-Matching-Game-cocos2d-x-2.0"target="_blank">See the codes on Github.</a>
                    </div>
                    <div class="slide-img col-xs-8">
                        <img src="../img/ball0.png" height="420">
                        <img src="../img/ball1.png" height="420">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="slider-nav">
        <a href="#" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
        <ul class="slider-dots">
            <li class="dot active-dot">&bull;</li>
            <li class="dot">&bull;</li>
            <li class="dot">&bull;</li>
        </ul>
        <a href="#" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; Sang Lin 2015</p>
        </div>
    </footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../script.js"></script>
</body>
</html>