<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sang Lin - Resume</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="../main.css">

</head>
<body>
<div class="header">
    <div class="container">
        <a href="../index.html" style="text-decoration: none;color: rgba(0, 0, 0, 0.80);float: left">
            <strong style="font-size: 30px">Sang&nbsp;&nbsp;Lin</strong>&nbsp;&nbsp;&nbsp;♨Software Engineer</a>
        <ul class="menu">
            <li><a href="resume-sang.html">Resume</a></li>
            <li><a href="projects-sang.html">Projects</a></li>
            <li><a href="#">Life</a></li>
        </ul>
    </div>
</div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 resume-sang">

                    <h1>SANG LIN</h1><br>
                    <div class="row">
                        <div class="col-xs-2">
                            <h2>Education</h2>
                        </div>
                        <div class="col-xs-10">
                            <h3>Rutgers University, New Brunswick, NJ</h3>
                            <p>Master, Computer Engineering, GPA: 3.5 / 4.0</p>
                            <h3>Hohai University, Nanjing, China</h3>
                            <p>Bachelor, Communication Engineering, GPA: 3.4 / 4.0</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 title">
                            <h2>Experience</h2>
                        </div>
                        <div class="col-xs-10">
                            <h3>Personal Page Development</h3>
                            <p>Developed a personal page that contains summary, resume and description of projects.
                                <br>- Used HTML to build the content of website and used CSS for style design on the website.
                                <br>- Implemented Bootstrap framework for well-organized layout and images handling.
                                <br>- Used jQuery Library of JavaScript to implement dynamic slider and other dynamic components on the website.
                            </p>
                            <h3>Android Application Development</h3>
                            <p>​Developed a parking map application based on Android that indicates appropriate parking lot to all different parking permits.
                                <br>- Provided the motivation and functions of the app and accomplished UI design.
                                <br>- Used Java to implement the client interactive activities, functional components by Eclipse and ADT.
                                <br>- Integrated Google API into application that supply map and search places functions by Java and Android framework.
                                </p>
                            <h3>PHP Website Development</h3>
                            <p>Developed a website that can supply registered users information of stocks and suggestion on operation of deal.
                                <br>- Used HTML and CSS to develop layout and used JavaScript for the dynamic components
                                <br>- Used PHP-MySQL functions, users can create profile, view real time and historical price of stocks; add their favorite stocks into personal page in order to check them quickly.
                            </p>
                            <h3>Internship of Cocos2d-x Game Development</h3>
                            <p>​Developed a mobile ball-match-three game to be installed both Android and IOS. 
                                <br>- Used cocos2d-x (an open source game framework written in C++) to establish the physical word that has gravity upon all balls to help them fall naturally; to add flashing effect on special function balls for more entertainment experience.
                                <br>- Used C++ to supply all other support such as collection, delete and color matching.
                                <br>- Used Cygwin to transplant game into APK in order to be implemented on Android system.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4 skill-sang">
                    <br><br><br><br>
                    <h2>Skills</h2>
                    <p>Java</p>
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>MySQL</p>
                    <p>C++</p>
                    <p>PHP</p>
                    <p>Python</p>
                    <p>JavaScript</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; Sang Lin 2015</p>
        </div>
    </footer>

</body>
</html>
