/* General */
.container {
    width: 960px;
}

/* Header */
.header  {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ddd;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding: 15px;
}

/* Menu */
.menu {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.menu > li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a {
    color: #898989;
}

/* Jumbotron */
.jumbotron {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dbdbdb;
}

.morra-center{
    text-align: center;
}

.jumbotron h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4b4b4b;
}

.jumbotron p {
    color: #4b4b4b;
    font-size:15px;
    line-height: 1.75em;
    margin-bottom: 15px;
    margin-top: 16px;
    text-shadow:none;
}

/* Footer */
.footer {
    background-color: #5c6669;
    height: 80px;
}

.social-media{
    color: #d0d0d0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-shadow:none;
}


.footer .social-media {
    float:left;
    list-style: none;
    margin-top: 25px;
}

.social-media > li{
    display: inline;
  }

/* Index */

.summary {
    margin-left: 50px;
}

.summary h1{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-shadow: none;
}

.button-area{
    margin-top: 50px;
    margin-bottom: 50px;
}

.button {
    padding: 10px;
}

/* Resume - Sang */
.resume-sang h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-shadow: none;
}

.resume-sang h2{
    float: left;
}

.skill-sang {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 500px;
}

/* Projects - Sang */
.slider {
    position: relative;
    height: 470px;
    border-bottom: 1px solid #dbdbdb;
}

.slide {
    background-color: #f7f7f7;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active-slide {
    display: block;
}

.slider-nav {
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dbdbdb;
}

.project-description h1 {
    color: #363636;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    font-size: 40px;
    margin-top: 105px;
    margin-bottom: 0px;
}

.project-description h2 {
    color: #b7b7b7;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    font-size: 40px;
    margin: 5px;
}

.project-description p {
    color: #959595;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.15em;
    line-height: 1.75em;
    margin-bottom: 15px;
    margin-top: 16px;
}

.slide-img {
    margin-top: 20px;
    padding-left: 10px;
    text-align: right;
    display: inline;
}

.arrow-prev {
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.arrow-next {
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}

.slider-dots li.active-dot {
    color: #363636;
}